@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

#menu ul li::after{
    @apply w-0 origin-center transition-all;
}

#menu ul .active::after{
    @apply hidden;
}

#menu ul li:hover::after{
    @apply w-full;
}


#menu ul .active{
    @apply bg-blue-700 lg:w-full text-center rounded-lg px-2 py-1;
}

#menu ul .active a{
    @apply font-semibold;
}

#menu ul .active svg{
    @apply stroke-white;
}

#menu ul .active span{
    @apply text-white;
}

.unshow .active{
    @apply p-px;
}

.unshow li span{
    @apply hidden;
}

.unshow ul{
    @apply basis-full;
}

.unshow h2{
    @apply hidden;
}

#content .notActive{
    @apply hidden;
}

#content .searchInput:focus ~ svg{
    @apply stroke-gray-800;
}

#content::-webkit-scrollbar {
    @apply hidden;
}

#content #Purchases tbody:before {
    content: "-";
    display: block;
    line-height: 0.5rem;
    color: transparent;
}

#content .searched tr{
    @apply bg-sky-100 even:bg-sky-200;
}

/* #content table tbody:has(tr:hover) > tr:not(:hover){
    @apply scale-90 opacity-75;
} */

#addAndEditModal::-webkit-scrollbar,
#removeProductModal::-webkit-scrollbar{
    @apply hidden;
}


/* loader */

.loader {
    --uib-size: 90px;
    --uib-color: black;
    --uib-speed: 1.35s;
    --uib-bg-opacity: .1;
    position: relative;
    display: flex;
    flex-direction: column;
    height: var(--uib-size);
    width: var(--uib-size);
    transform: rotate(45deg);
    animation: rotate calc(var(--uib-speed) * 2) ease-in-out infinite;
  }

  .fadeOut{
    animation: fade-out 2s ease-in-out forwards;
  }

  .half {
    --uib-half-size: calc(var(--uib-size) * 0.435);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--uib-half-size);
    height: var(--uib-half-size);
    overflow: hidden;
    isolation: isolate;
  }
  .half:first-child{
    top: 8.25%;
    left: 8.25%;
    border-radius: 50% 50% calc(var(--uib-size) / 15);
  }

  .half:last-child {
    bottom: 8.25%;
    right: 8.25%;
    transform: rotate(180deg);
    align-self: flex-end;
    border-radius: 50% 50% calc(var(--uib-size) / 15);
  }

  .half:last-child::after {
    animation-delay: calc(var(--uib-speed) * -1);
  }


  .half::before {
      content: '';
      @apply bg-sky-500;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: var(--uib-bg-opacity);
      transition: background-color 0.3s ease;
    }
    
    .half::after {
        content: '';
        @apply bg-sky-500;
        position: relative;
        z-index: 1;
        display: block;
        height: 100%;
        transform: rotate(45deg) translate(-3%, 50%) scaleX(1.2);
        width: 100%;
        transform-origin: bottom right;
        border-radius: 0 0 calc(var(--uib-size) / 20) 0;
        animation: flow calc(var(--uib-speed) * 2) linear infinite both;
        transition: background-color 0.3s ease;
    }


  @keyframes flow {
    0% {
      transform: rotate(45deg) translate(-3%, 50%) scaleX(1.2);
    }
    30% {
      transform: rotate(45deg) translate(115%, 50%) scaleX(1.2);
    }

    30.001%,
    50% {
      transform: rotate(0deg) translate(-85%, -85%) scaleX(1);
    }

    80%,
    100% {
      transform: rotate(0deg) translate(0%, 0%) scaleX(1);
    }
  }

  @keyframes rotate {
    0%,
    30% {
      transform: rotate(45deg);
    }

    50%,
    80% {
      transform: rotate(225deg);
    }

    100% {
      transform: rotate(405deg);
    }
  }

  @keyframes fade-out {
    0%{
        opacity:1;
    }
    
    80%{
        opacity:0;
    }

    100% {
        z-index :-20;
    }
  }

@layer components{
    .changeBtn{
        @apply py-1 px-4 bg-sky-500 hover:bg-sky-600 transition-colors text-white font-bold rounded-md;
    }
    .removeBtn{
        @apply py-1 px-4 bg-red-600 hover:bg-red-700 transition-colors text-white font-bold rounded-md;
    }
}